/* Start Header */
header .top-header {
    /*background: var(--main-black-color); */
    background: #00a5fe;
}

header .top-header .logo {
    max-width: 250px;
    padding: 15px 1em;
    transition: all 0.3s ease;
}

.normal-logo {
    display: block;
}

.mobile-logo {
    display: none;
    width: 37px;
}

header .top-header .right-menu>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header .top-header .right-menu>ul li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
}

header .top-header .right-menu>ul>li>a {
    padding: 0px 10px;
    color: var(--main-white-color);
    position: relative;
    display: block;
}

header .top-header .right-menu>ul li.messages>a {
    font-size: 30px;
}

header .top-header .right-menu>ul li.messages>a span {
    position: absolute;
    right: -6px;
    top: -3px;
    width: 30px;
    height: 30px;
    line-height: 21px;
    text-align: center;
    background: var(--main-red-color);
    font-size: 14px;
    border-radius: 50%;
    border: 4px solid #333;
}

header .top-header .right-menu>ul li.messages .bzns-dropdown {
    display: none;
    width: 280px;
    position: absolute;
    background: var(--main-white-color);
    padding: 3px 0 0;
    right: 0;
    z-index: 5;
    border-radius: 5px;
    animation: MoveUp 0.3s cubic-bezier(0.7, 0, 0.3, 1) both;
    margin-top: 15px;
    transition: all ease 0.3s;
    /* overflow: hidden; */
}



header .top-header .right-menu>ul li.messages .bzns-dropdown:after {
    content: '';
    top: -8px;
    right: 15px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--main-blue-color) transparent;
    transition: all ease 0.3s;
}

header .top-header .right-menu>ul li.messages .bzns-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header .top-header .right-menu>ul li.messages ul li {
    border-bottom: 1px solid var(--main-gray-border);
    width: 100%;
}

header .top-header .right-menu>ul li.messages ul li a {
    font-size: 13px;
    color: var(--main-gray-color);
    padding: 10px 15px;
    display: block;
    transition: all ease-in 0.3s;
}

header .top-header .right-menu>ul li.messages ul li a:hover {
    text-decoration: none;
    background: var(--main-light-gray-color);
}

header .top-header .right-menu>ul li.messages ul li a h6 {
    font-size: 12px;
    color: var(--main-black-color);
    margin-bottom: 5px;
}

header .top-header .right-menu>ul li.messages ul li a p {
    font-size: 12px;
    color: var(--main-gray-color);
    margin: 0;
}

header .top-header .right-menu>ul li.messages ul li a span {
    font-size: 10px;
    font-style: italic;
    color: var(--main-blue-color);
    float: right;
    font-weight: 400;
}

header .top-header .right-menu>ul li.messages a.view-all {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    display: block;
    color: var(--main-gray-color);
    margin: 0 auto;
    text-decoration: none;
    background: var(--main-light-gray-color);
}

/*-------------*/

header .top-header .right-menu>ul li.notifacation>a {
    font-size: 30px;
}

header .top-header .right-menu>ul li.notifacation>a span {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 30px;
    height: 30px;
    line-height: 21px;
    text-align: center;
    background: var(--main-red-color);
    font-size: 14px;
    border-radius: 50%;
    border: 4px solid #333;
}

header .top-header .right-menu>ul li.notifacation .bzns-dropdown {
    display: none;
    width: 280px;
    position: absolute;
    background: var(--main-white-color);
    padding: 3px 0 0;
    right: 0;
    z-index: 5;
    border-radius: 5px;
    animation: MoveUp 0.3s cubic-bezier(0.7, 0, 0.3, 1) both;
    margin-top: 15px;
    transition: all ease 0.3s;
    /* overflow: hidden; */
}



header .top-header .right-menu>ul li.notifacation .bzns-dropdown:after {
    content: '';
    top: -8px;
    right: 15px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--main-blue-color) transparent;
    transition: all ease 0.3s;
}

header .top-header .right-menu>ul li.notifacation .bzns-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header .top-header .right-menu>ul li.notifacation ul li {
    border-bottom: 1px solid var(--main-gray-border);
    width: 100%;
}

header .top-header .right-menu>ul li.notifacation ul li a {
    font-size: 13px;
    color: var(--main-gray-color);
    padding: 10px 15px;
    display: block;
    transition: all ease-in 0.3s;
}

header .top-header .right-menu>ul li.notifacation ul li a:hover {
    text-decoration: none;
    background: var(--main-light-gray-color);
}

header .top-header .right-menu>ul li.notifacation ul li a span {
    display: block;
    font-size: 10px;
    font-style: italic;
    color: var(--main-blue-color);
}

header .top-header .right-menu>ul li.user-menu a img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown {
    display: none;
    width: 200px;
    position: absolute;
    background: var(--main-white-color);
    padding: 3px 0 0;
    right: 0;
    z-index: 5;
    border-radius: 5px;
    animation: MoveUp 0.3s cubic-bezier(0.7, 0, 0.3, 1) both;
    margin-top: 15px;
    /* overflow: hidden; */
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 15px auto;
    display: block;
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown h4 a {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: var(--main-blue-color);
    display: block;
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown h4 a:hover {
    text-decoration: none;
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown:after {
    content: '';
    top: -8px;
    right: 24px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--main-blue-color) transparent;
}

header .top-header .right-menu>ul li.user-menu .bzns-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

header .top-header .right-menu>ul li.user-menu ul li {
    border-bottom: 1px solid var(--main-gray-border);
    width: 100%;
}

header .top-header .right-menu>ul li.user-menu ul li a {
    font-size: 14px;
    color: var(--main-gray-color);
    padding: 10px 15px;
    display: block;
    transition: all ease-in 0.3s;
}

header .top-header .right-menu>ul li.user-menu ul li a span {
    margin-right: 10px;
}

header .top-header .right-menu>ul li.user-menu ul li a:hover {
    text-decoration: none;
    background: var(--main-light-gray-color);
}

/*-----------------------*/

header .top-header .right-menu>ul li.lang a {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    width: 45px;
    height: 45px;
    background: var(--main-red-color);
    border-radius: 50%;
    /* margin-top: 15px; */
}


header .bzns-nav-bar ul {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 0;
}

header .bzns-nav-bar>ul li {
    display: inline-block;
    position: relative;
}

header .bzns-nav-bar>ul>li>a {
    padding: 25.5px 20px;
    color: var(--main-white-color);
    display: block;
    text-decoration: none;
    font-size: 16px;
}

header .bzns-nav-bar>ul>li>a span {
    display: inline-block;
    margin-left: 7px;
    border: solid var(--main-white-color);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    top: -2px;
    position: relative;
    transition: all 0.3s ease;
}

header .bzns-nav-bar>ul>li.active>a {
    background: var(--main-blue-color);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
}

header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu {
    display: none;
    position: absolute;
    min-width: 200px;
    background: var(--main-black-color);
    z-index: 1;
}

header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu li {
    display: block;
}

header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu li a {
    font-size: 14px;
    color: var(--main-white-color);
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-decoration: none;
}




header .top-header .right-menu>ul li.menu-trigger {
    padding: 15px 10px;
    direction: rtl;
}

header .top-header .right-menu>ul li.menu-trigger a {
    padding: 0;
}

header .top-header .right-menu>ul li.menu-trigger a span {
    width: 30px;
    height: 2px;
    margin-bottom: 7px;
    background: var(--main-white-color);
    display: block;
    transition: all 0.3s ease;
}

header .top-header .right-menu>ul li.menu-trigger a span:first-child {
    width: 10px;
}

header .top-header .right-menu>ul li.menu-trigger a span:nth-child(2) {
    width: 20px;
}

header .top-header .right-menu>ul li.menu-trigger a span:last-child {
    margin: 0;
    width: 30px;
}

header .top-header .right-menu>ul li.menu-trigger a:hover span {
    width: 30px;
}

/* Responsive Nav Bar */

/* header .bzns-nav-bar.nav-open{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 200px;
    background: var(--main-black-color) 
} */
/* header .bzns-nav-bar {
    padding-bottom: 0;
}


header .bzns-nav-bar .navbar-nav .nav-item .nav-link {
    padding: 25px 20px;
    color: var(--main-white-color);
}


header .bzns-nav-bar .navbar-nav .nav-item.active .nav-link {
    background: var(--main-blue-color);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
}

header .bzns-nav-bar .navbar-nav .nav-item .dropdown-menu {
    background: #444444;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

header .bzns-nav-bar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: var(--main-white-color);
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .bzns-nav-bar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background: var(--main-black-color);
}

header .bzns-nav-bar .navbar-nav .nav-item .dropdown-menu.show {
    animation: MoveUp 0.3s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.navbar-toggler {
    margin-bottom: 8px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
} */

/* .dropdown:hover .dropdown-menu {
    display: block;
} */


@keyframes MoveUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

header .top-header .right-menu {
    padding: 15px 1em;
}

@media (max-width: 520px) {
    header .top-header .logo {
        max-width: 185px;
    }

    header .top-header .right-menu>ul li.menu-trigger {
        padding: 8px 10px;
    }

    header .top-header .right-menu>ul li.messages>a {
        font-size: 25px;
    }

    header .top-header .right-menu>ul li.messages>a span {
        right: -1px;
        width: 25px;
        height: 25px;
        line-height: 18px;
        border: 3px solid #333;
        font-size: 12px;
    }

    header .top-header .right-menu>ul li.notifacation>a {
        font-size: 25px;
    }

    header .top-header .right-menu>ul li.notifacation>a span {
        right: -1px;
        width: 25px;
        height: 25px;
        line-height: 18px;
        border: 3px solid #333;
        font-size: 12px;
    }

    header .top-header .right-menu>ul li.lang a {
        line-height: 28px;
        font-size: 17px;
        width: 35px;
        height: 35px;
        padding: 0;
    }

    header .top-header .right-menu>ul li.user-menu a img {
        width: 35px;
        height: 35px;
    }

    header .top-header .right-menu>ul li.user-menu .bzns-dropdown:after {
        right: 20px;
    }
}

@media (max-width: 430px) {
    .normal-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    /* header .top-header .logo {
        max-width: 69px;
    } */
    header .top-header .right-menu>ul li.messages .bzns-dropdown {
        right: -80px;
    }

    header .top-header .right-menu>ul li.messages .bzns-dropdown:after {
        right: 93px;
    }

    header .top-header .right-menu>ul li.notifacation .bzns-dropdown {
        right: -80px;
    }

    header .top-header .right-menu>ul li.notifacation .bzns-dropdown:after {
        right: 93px;
    }
}

@media (max-width: 992px) {

    /* header .bzns-nav-bar {
        display: none;
    } */
    .logo {
        margin-right: auto !important;
    }

    .body-nav-open {
        overflow: hidden;
    }

    header .bzns-nav-bar.nav-open {
        transform: translateX(0%);
    }

    header .bzns-nav-bar {
        transform: translateX(100%);
        transition: all ease 0.3s;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        background: var(--main-black-color);
        width: 250px;
        z-index: 99;
    }

    header .bzns-nav-bar ul {
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 0;
    }

    header .bzns-nav-bar>ul>li {
        border-bottom: 1px solid #484848;
        width: 100%;
    }

    header .bzns-nav-bar>ul>li>a {
        padding: 15px 20px;
    }

    header .bzns-nav-bar>ul>li>a span {
        display: none;
    }

    /* header .bzns-nav-bar>ul>li.active>a {
        background: var(--main-blue-color);
        -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);
    } */

    header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu {
        display: block;
        position: relative;
    }

    header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu li {
        display: block;
    }

    header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu li a {
        padding: 10px 30px;
        border: none;
        position: relative;
    }

    header .bzns-nav-bar>ul>li>ul.bzns-dropdown-menu li a:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 6px;
        height: 1px;
        background: var(--main-white-color);
    }

    .close-menu {
        display: block;
        width: 40px;
        height: 40px;
        background: var(--main-blue-color);
        margin: 10px 5px;
        position: relative;
        text-align: center;
    }

    .close-menu:after {
        position: absolute;
        content: '';
        left: 19px;
        top: 10px;
        bottom: 10px;
        transform: rotate(45deg);
        width: 2px;
        background: var(--main-white-color);
    }

    .close-menu:before {
        position: absolute;
        content: '';
        left: 19px;
        top: 10px;
        bottom: 10px;
        transform: rotate(-45deg);
        width: 2px;
        background: var(--main-white-color);
    }

    /*---------------------*/
}

@media (min-width: 992px) {
    header .bzns-nav-bar {
        padding-top: 0;
        padding-bottom: 0;
    }

    header .top-header .right-menu>ul li.menu-trigger {
        display: none;
    }

    header .bzns-nav-bar>ul li:hover .bzns-dropdown-menu {
        display: block;
        animation: MoveUp 0.3s cubic-bezier(0.7, 0, 0.3, 1) both;
    }

    .close-menu {
        display: none;
    }
}

/* End Header */