<header>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="logo">
          <!-- <img src="assets/img/bzns-logo-en.png" class="img-fluid" alt=""> -->
          <img src="../../assets/img/logo.svg" class="img-fluid normal-logo" alt="">
          <img src="../../assets/img/bb-bzns-logo-en.png" class="img-fluid mobile-logo" alt="">
        </div>
        <!-- <div class="teeest mr-auto ml-auto" style="width: 693px;"> -->
        <div class="bzns-nav-bar mr-auto ml-auto">
          <a href="javascript:;" class="close-menu"></a>
          <ul>
            <li class="active"><a href="Dashboard_2.html">Dashboard</a></li>
            <li class="has-child"><a href="javascript:;">Plan<span></span></a>

              <ul class="bzns-dropdown-menu">
                <li><a href="BznsModel.html">BznsModel</a></li>
                <li><a href="Chapters.html">BznsPlan</a></li>

                <li><a href="Financial_Dashboard.html">Financial Plan</a></li>
                <li><a href="Download.html">Download and Print</a></li>
              </ul>
            </li>
            <li><a [routerLink]="'/pitch'">Pitch</a></li>
            <li class="has-child"><a href="javascript:;">Tools & Services<span></span></a>
              <ul class="bzns-dropdown-menu">
                <li><a href="#">Tools & Services</a></li>
                <li><a href="#">Free Resources</a></li>
                <li><a href="#">Tools & Services</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="right-menu">
          <ul>
            <!-- <li class="menu-trigger">
                <a href="javascript:;">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </li> -->
            <li class="messages has-dropdown">
             <button  (click)="closeAllOpenSelected('messages')"><i class="fas fa-envelope"> 
              
                <span>3</span>
              </i></button>
              <div *ngIf="showMessages" class="bzns-dropdown blue-border">
                <ul class="custom-scroll">
                  <li *ngFor="let message of _messages">
                    <a href="#">
                      <h6>{{message.name}}<span class="time">{{message.time}}</span>
                      </h6>
                      <p>{{message.details}}</p>
                    </a>
                  </li>

                </ul>
                <a href="Messages.html" class="view-all">View All Messages</a>
              </div>
            </li>
            <li class="notifacation has-dropdown">
              <button  #hasDropdown (click)="closeAllOpenSelected('notifications')"><i
                  class="fas fa-bell"></i><span>3</span></button>
              <div *ngIf="showNotifications" class="bzns-dropdown blue-border">
                <ul class="custom-scroll">
                  <li *ngFor="let notification of _notifications"><a href="#">{{notification.title}} <span
                        class="time">{{notification.time}}</span></a></li>

                </ul>
              </div>
            </li>
            <li class="has-dropdown user-menu">
              <button #hasDropdown (click)="closeAllOpenSelected('user')"><img src="../../assets/img/Avatar.png"
                  alt=""></button>
              <div *ngIf="showUserMenu" class="bzns-dropdown blue-border">
                <img src="../../assets/img/Avatar.png" alt="">
                <h4><a href="#">Soha adel</a></h4>
                <ul>
                  <li><a href="Profile_Management.html"><span><i class="fas fa-sliders-h"></i></span> Settings</a>
                  </li>
                  <li><a href="#"><span><i class="fas fa-hands-helping"></i></span> Help</a></li>
                  <li><a href="#"><span><i class="fas fa-sign-out-alt"></i></span> Logout</a></li>
                </ul>
              </div>
            </li>
            <li class="lang">
              <a href="#">ع</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</header>