<header>
    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="logo">
            <!-- <img src="assets/img/bzns-logo-en.png" class="img-fluid" alt=""> -->
            <img src="../../assets/img/logo.svg" class="img-fluid normal-logo" alt="">
            <img src="../../assets/img/bb-bzns-logo-en.png" class="img-fluid mobile-logo" alt="">
          </div>
          <!-- <div class="teeest mr-auto ml-auto" style="width: 693px;"> -->
          <div class="bzns-nav-bar mr-auto ml-auto">
            <a href="javascript:;" class="close-menu"></a>
            <ul>
              <li class="active"><a href="Dashboard_2.html">Dashboard</a></li>
              <li class="has-child"><a href="javascript:;">Plan<span></span></a>

                <ul class="bzns-dropdown-menu">
                  <li><a href="BznsModel.html">BznsModel</a></li>
                  <li><a href="Chapters.html">BznsPlan</a></li>

                  <li><a href="Financial_Dashboard.html">Financial Plan</a></li>
                  <li><a href="Download.html">Download and Print</a></li>
                </ul>
              </li>
              <li><a href="Pitch.html">Pitch</a></li>
              <li class="has-child"><a href="javascript:;">Tools & Services<span></span></a>
                <ul class="bzns-dropdown-menu">
                  <li><a href="#">Tools & Services</a></li>
                  <li><a href="#">Free Resources</a></li>
                  <li><a href="#">Tools & Services</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="right-menu">
            <ul>
              <li class="menu-trigger">
                <a href="javascript:;">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </li>
              <li class="messages has-dropdown">
                <a href="#">
                  <i class="fas fa-envelope"></i>
                  <span>3</span>
                </a>
                <div class="bzns-dropdown blue-border">
                  <ul class="custom-scroll">
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">9:25 AM</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">Wed</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">Sat</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">20 May</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">18 May</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">15 May</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">9 May</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <h6>Salah Ahmed<span class="time">1 May</span>
                        </h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                      </a>
                    </li>
                  </ul>
                  <a href="Messages.html" class="view-all">View All Messages</a>
                </div>
              </li>
              <li class="notifacation has-dropdown">
                <a href="#"><i class="fas fa-bell"></i><span>3</span></a>
                <div class="bzns-dropdown blue-border">
                  <ul class="custom-scroll">
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 days ago</span></a></li>
                    <li><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<span class="time">2 weeks
                          ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                    <li><a href="#">Salah Ahmed Joined your team <span class="time">2 weeks ago</span></a></li>
                  </ul>
                </div>
              </li>
              <li class="has-dropdown user-menu">
                <a href="#"><img src="../../assets/img/Avatar.png" alt=""></a>
                <div class="bzns-dropdown blue-border">
                  <img src="../../assets/img/Avatar.png" alt="">
                  <h4><a href="#">Soha adel</a></h4>
                  <ul>
                    <li><a href="Profile_Management.html"><span><i class="fas fa-sliders-h"></i></span> Settings</a>
                    </li>
                    <li><a href="#"><span><i class="fas fa-hands-helping"></i></span> Help</a></li>
                    <li><a href="#"><span><i class="fas fa-sign-out-alt"></i></span> Logout</a></li>
                  </ul>
                </div>
              </li>
              <li class="lang">
                <a href="#">ع</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </header>
  