<footer>
    <div class="call-to-action text-center">
      <p>How can we help you? <a href="#">info@bznsbuilder.com</a></p>
    </div>
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 col-12">
            <div class="row">
              <div class="col-md-3 col-12">
                <div class="widget">
                  <h4>Popular Post</h4>
                  <h6><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a></h6>
                  <div class="time"><span><i class="far fa-clock"></i></span> 25 jan 2020</div>
                </div>
                <hr>
                <div class="widget">
                  <h6><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a></h6>
                  <div class="time"><span><i class="far fa-clock"></i></span> 25 jan 2020</div>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="widget">
                  <h4>A little about us</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe accusantium soluta perspiciatis
                    deserunt cumque cum nostrum dignissimos. Reiciendis distinctio voluptas dolore ad quibusdam id
                    totam veniam eius illum, quia</p>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="widget">
                  <h4>Dashboardv</h4>
                  <ul class="footer-nav">
                    <li><a href="#">Create Your Business Plan</a></li>
                    <li><a href="#">Become an Expert</a></li>
                    <li><a href="#">Hire Expert</a></li>
                    <li><a href="#">Pitch Investors</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-12">
                <div class="widget">
                  <h4>Services</h4>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-12 text-lg-right text-center">
            <img src="assets/img/bzns-logo-en-footer.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-md-left text-center">
            <p>Copyright 2020 BznsBuilder. All right reserved</p>
          </div>
          <div class="col-md-6 text-md-right text-center">
            <ul>
              <li><a href="https://www.facebook.com/BznsBuilder" target="_blank"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li><a href="https://twitter.com/bznsbuilder" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UC2wk8gRrUXxhKdl-jrKEJdA" target="_blank"><i
                    class="fab fa-youtube"></i></a></li>
              <li><a href="https://www.linkedin.com/company/bznsbuilder" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.instagram.com/bznsbuilder/" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>