<page-option [pageName]="'Dashboard'"></page-option>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-lg-flex">
  <app-left-sidebar [disableButtons]="false" [enablePhases]="false"></app-left-sidebar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
          <div class="empty-dashboard text-center">
            <span class="plus-icon mb-3"></span>
            <!-- <span class="add-icon"><i class="fas fa-plus"></i></span> -->
            <h4>No Company Or Program Added Yet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ab obcaecati nulla
              incidunt ducimus eum veniam explicabo, ex et ratione iste</p>
            <button type="button" class="btn btn-primary  bzns-btn green" data-toggle="modal"
              data-target="#Price_Individuals_Modal" routerLink ="/dashboard">
              Create Company</button>
<button type="button" class="btn btn-primary bzns-btn green" id="modalToggle">Create Organization</button>
          </div>
        </div>
      </div>
    </div>   
  <app-right-sidebar ></app-right-sidebar>
        </div>
      </div>
    </div>
    </div>
</div>

<!-- <div class="main-content"> -->

<!-- </div> -->