.account-details{

}
.account-details-list{
    list-style: none;
    padding: 0;
}
.account-details-list li{
    padding: 15px 15px 15px 50px;
    background: var(--main-light-gray-color);
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    font-weight: 300;
    transition: all ease 0.3s;
}
.account-details-list li:hover{
    background: var(--main-gray-bg);
}
.account-details-list li .icon{
    display: inline-block;
    color: var(--shadow-dark-green-color);
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}
.offer{
    background: var(--main-green-color);
    padding: 25px;
    color: var(--main-white-color);
    position: relative;
    overflow: hidden;
}
.offer .save{
    position: absolute;
    display: inline-block;
    background: var(--main-white-color);
    padding: 2px 25px;
    color: var(--main-green-color);
    font-weight: 300;
    transform: rotate(45deg);
    top: 17px;
    right: -28px;
}
.offer h3{
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 15px;
}
.offer p{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}
.offer .btn-wrapper{
    position: relative;
    /* text-align: center; */
    margin: 15px 0 0 0;
}
/* .offer .btn-wrapper .line{
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--main-white-color);
    top: 50%;
    transform: translateY(50%);
    left: 0;
    z-index: 0;
} */
.offer .btn-wrapper .btn{
    position: relative;
    z-index: 1;
    background:  var(--main-white-color);
    padding: 7px 25px;
    font-size: 16px;
    font-weight: 300;
    color: var(--main-green-color);
    border-radius: 0;
}