<div class="white-panel blue-border">
    <h4 class="panel-title">Profile Completed</h4>
    <svg class="radial-progress" data-percentage="65" viewBox="0 0 80 80">
      <circle class="incomplete" cx="40" cy="40" r="30"></circle>
      <circle class="complete" cx="40" cy="40" r="30" style="stroke-dashoffset: 30;">
      </circle>
      <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">65<tspan>%</tspan>
      </text>
    </svg>
    <p class="gray-small">Complete your profile to gain<br>popularity</p>
    <a href="Profile_Management.html" class="panel-btn">Complete your Profile</a>
  </div>