<div class="row">
    <div class="col-12">
      <div class="white-panel blue-border target-market">
        <h4 class="panel-title mb-3 with-padding-15">Target Market <span class="panel-subtitle">Market
            size: {{marketSize}}</span></h4>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 text-center">
              <canvas id="chart_4" style="width:100%"></canvas>
              <div class="space-15"></div>
            </div>
            <!-- <div class="col-xl-6 col-lg-12 col-12 text-center">
              <h5>Expenses __</h5>
            </div> -->
          </div>
        </div>
        <a href="#" class="panel-btn text-center"><i class="fas fa-pen"></i> Edit Pitch</a>
      </div>
    </div>
  </div>